<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="parallel-suite" parallel="classes" thread-count="2">
    <test name="parallel-tests">
        <classes>
            <class
                name="tests.e2e.RemoveItemBasketTest" />
            <class
                name="tests.e2e.OrderCompleteTest" />
        </classes>
    </test>
</suite>