<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="parallel-suite" parallel="classes" thread-count="2">
    <test name="parallel-tests">
        <classes>
            <class
                    name="tests.pages.main.MainPageTest" />
            <class
                    name="tests.pages.product.ClothesPageTest" />
            <class
                    name="tests.pages.product.AccessoriesPageTest" />
            <class
                    name="tests.pages.product.ArtPageTest" />
        </classes>
    </test>
</suite>